mixin phan-trang(phanTrang)
     nav 
        ul(class="pagination")
            if(phanTrang.trangHientai > 1)
                li(class="page-item")
                    button(class="page-link"
                            button-trang=phanTrang.trangHientai-1
                    ) Trang trước
            
            - for(var i=1;i<= phanTrang.soTrang;i++)
                li(class=`page-item ${phanTrang.trangHientai==i ? "active":""}`)
                    button(class="page-link"
                            button-trang=i
                    ) #{i}

            if(phanTrang.trangHientai < phanTrang.soTrang)
                li(class="page-item")
                    button(class="page-link"
                            button-trang=phanTrang.trangHientai+1  
                    ) kế tiếp